@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:Devlapc18@gmail.com">Devlapc18@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Lapc18@outlook.com">Lapc18@outlook.com</a>
</address>
