@{
    ViewData["Title"] = "Pagina de Inicio";
}


<div class="row center">

    <div class="col-xs-12">
        <div class="">
            qloq wawawa
        </div>
    </div>

</div>
